{% extends 'base.html' %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1>Welcome Back</h1>

        <p class="auth-subtitle">

            Login to continue

        </p>

        <form method="POST">

            {% csrf_token %}

            <!-- USERNAME -->

            <label>Username</label>

            {{ form.username }}

            <!-- PASSWORD -->

            <label>Password</label>

            {{ form.password }}

            <!-- ERRORS -->

            {{ form.errors }}

            <button class="auth-btn"
                    type="submit">

                Login

            </button>

        </form>

        <p class="auth-link">

            Don’t have an account?

            <a href="/register">

                Register

            </a>

        </p>

    </div>

</div>

{% endblock %}