{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Ecommerce Store</title>

    <link rel="stylesheet"
          href="{% static 'style.css' %}">

</head>

<body>

<!-- NAVBAR -->

<nav class="navbar">

    <!-- LEFT -->

    <div class="nav-left">

        <a class="logo"
           href="/">

           Ecommerce

        </a>

    </div>

    <!-- CENTER -->

    <div class="nav-center">

        <a href="/">Home</a>

        <a href="/cart">Cart</a>

    </div>

    <!-- RIGHT -->

    <div class="nav-right">

        {% if user.is_authenticated %}

            <span class="welcome-user">

                Hi, {{ user.username }}

            </span>

            <form action="{% url 'logout' %}"
                  method="POST">

                {% csrf_token %}

                <button class="logout-btn"
                        type="submit">

                    Logout

                </button>

            </form>

        {% else %}

            <a href="/login">Login</a>

            <a href="/register">Register</a>

        {% endif %}

    </div>

</nav>

{% block content %}
{% endblock %}

</body>

</html>