{% extends 'base.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-box">

        <h1>

            Create New Project

        </h1>

        <p>

            Organize your team workflow

        </p>

        <form method="POST">

            {% csrf_token %}
        
            <!-- NAME -->
        
            <label>
        
                Project Name
        
            </label>
        
            <input type="text"
                   name="name"
                   required>
        
            <!-- DESCRIPTION -->
        
            <label>
        
                Description
        
            </label>
        
            <textarea
                name="description"
                required></textarea>
        
            <!-- NUMBER OF MEMBERS -->
        
            <label>
        
                Number of Members
        
            </label>
        
            <input type="number"
                   name="member_count"
                   min="1"
                   max="5"
                   required>
        
            <!-- LEADER -->
        
            <label>
        
                Team Leader Username
        
            </label>
        
            <input type="text"
                   name="leader"
                   required>
        
            <!-- MEMBERS -->
        
            <label>
        
                Member 1 Username
        
            </label>
        
            <input type="text"
                   name="member1">
        
            <label>
        
                Member 2 Username
        
            </label>
        
            <input type="text"
                   name="member2">
        
            <label>
        
                Member 3 Username
        
            </label>
        
            <input type="text"
                   name="member3">
        
            <label>
        
                Member 4 Username
        
            </label>
        
            <input type="text"
                   name="member4">
        
            <label>
        
                Member 5 Username
        
            </label>
        
            <input type="text"
                   name="member5">
        
            <button type="submit">
        
                Create Project
        
            </button>
        
        </form>

    </div>

</div>

{% endblock %}